<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autogestión de Usuarios de Servicio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<form class="incident-form">
<body>
    <!-- <yus-html src="/navbar.html"></yus-html> -->
    <h2>Autogestión de Usuarios de Comunidad</h2>

    <table class="table centered-table">
            <thead class = "bg-danger" style="color: white;" >
                <tr>
                    <th scope="col" >Comunidad ID</th>
                    <th scope="col" >Comunidad Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col" >Admin</th>
                </tr>
            </thead>
        <tbody>

        {{#each comunidad}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>
                <select>
                    <option value="1">{{rol}}</option>
                    <option value="2">{{norol}}</option>
                </select>
            </td>
            <td>{{admin}}</td>
        </tr>
        {{/each}}


            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>

    <br>

    <a id="aplicarBtn" class="mt-1 w-100 py-2 btn btn-danger" style="color : white" onclick="detectarCambios()">Aplicar</a>
    <script src="resources/JS/administrarUsuarioLiviano.js"></script>

</body>
</html>
