<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autogestión de Usuarios de Servicio</title>
    <link rel="stylesheet" href="resources/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<form class="incident-form">
<body class="bodyAdmLiviano">
    
    <!--    NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="http://localhost:4567/home.html">Diegote TPA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4567/incidentesLiviano">Consulta de Incidentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4567/cargaMasivaLiviano.html">Carga masiva de Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4567/administrarUsuarioLiviano">Administración de Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4567/rankingsLiviano">Ranking de Incidentes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Perfiles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navbar">
                        <a v-for="perfil in perfiles" :key="perfil.idPerfil" class="dropdown-item" @click="guardarPerfilSeleccionado(perfil)">
                            {{ perfil.nombrePerfil }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- <yus-html src="/navbar.html"></yus-html> -->
    <h1 class="h1AdminUsuarios">Autogestión de Usuarios de Comunidad</h1>

    <table class="table_centered_table">
            <thead class = "bg-danger" style="color: white;" >
                <tr>
                    <th scope="col" >Comunidad ID</th>
                    <th scope="col" >Comunidad Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col" >Admin</th>
                </tr>
            </thead>
        <tbody>

        {{#each comunidad}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>
                <select>
                    <option value="1">{{rol}}</option>
                    <option value="2">{{norol}}</option>
                </select>
            </td>
            <td>{{admin}}</td>
        </tr>
        {{/each}}


            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>

    <br>
    <a id="aplicarBtn" class="mt-10 w-50 py-2 btn btn-danger" style="color : white" onclick="detectarCambios()">Aplicar</a>


    <!--    NAVBAR      -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <!--    SCRIPTS     -->
    <script src="resources/JS/administrarUsuarioLiviano.js"></script>

</body>
</html>
